<ion-header  no-border>
    <ion-navbar color="nav-color">
       <button [hidden]="pop.onRequest" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
       <ion-title [ngStyle]="{'font-size': 1.32 + 'em', 'text-align': 'center'}" [hidden]="!pop.onRequest" id="header" >Please Wait..</ion-title>
       <ion-title [hidden]="pop.onRequest">
          C O R I A 
       </ion-title>
       <!-- <ion-toggle  checked="false" float-right>current Location</ion-toggle> -->
       <!-- <button [hidden]="pop.onRequest" ion-button icon-only clear float-right (click)="pickLocation()">
          <ion-icon name="md-locate"></ion-icon>
       </button> -->
    </ion-navbar>
 </ion-header>
 <ion-content class="no-scroll">
    <div id="map">
       <div class="bars">
            <ion-list class="locaction-control">
                    <ion-item no-lines (click)="showAddressModal(currentLocationControl.id)">
                        <ion-icon name="ios-search-outline" item-start small></ion-icon>
                            {{ currentLocationControl.label }}
                        <ion-icon [name]="currentLocationControl.icon" item-end></ion-icon>
                    </ion-item>
                    <ion-item no-lines (click)="showAddressModal(destinationLocationControl.id)">
                            <ion-icon name="ios-search-outline" item-start small></ion-icon>
                                {{ destinationLocationControl.label }}
                            <ion-icon [name]="destinationLocationControl.icon" item-end></ion-icon>
                        </ion-item>
            </ion-list>
            <div [hidden]="!cMap.hasRequested" class="bars-position">
                <ion-icon name="navigate"></ion-icon>
            </div>
       </div>

       <button [hidden]="onDriverRequest" no-lines class="bar" id='onbar' ion-item (click)="findDrivers()">
        Find Drivers around
          <ion-icon color='light' class="icon" name="arrow-dropright"></ion-icon>
       </button>

       <div *ngIf="cMap.onbar2" class="bottom-bar2">
          <div class="text" text-center>
             <ion-spinner name="crescent"></ion-spinner>
             Finding A Driver
          </div>
          <button class="gutton" ion-item color="primary" (click)="cancelRequest()">
          Cancel Request
          </button>
       </div>
       <div class="bottom3-container">
          <button class="toggle-container" icon-start ion-item [hidden]="!cMap.toggleBtn" (click)="toggleMoreBtn()">
          <ion-icon [hidden]="toggleMore" name="arrow-back"></ion-icon>
          <ion-icon [hidden]="!toggleMore" name="arrow-forward"></ion-icon>
          </button>
          <div *ngIf="cMap.onbar3" class="bottom-bar3">
             <div *ngIf="!toggleMore" class="top-buttons" text-center>
                <ion-grid>
                   <ion-row>
                      <ion-col>
                         <ion-icon name="call" (click)="callDriver()"></ion-icon>
                      </ion-col>
                      <ion-col>
                         <ion-icon name="mail" (click)="sendMessage()" ></ion-icon>
                      </ion-col>
                      <ion-col>
                         <ion-icon name="close" (click)="cancelRequest()"></ion-icon>
                      </ion-col>
                   </ion-row>
                </ion-grid>
             </div>
             <ion-grid>
                <ion-row>
                   <ion-col>
                      <img class="profile-pic" [src]="picture"/>
                   </ion-col>
                   <ion-col>
                      <div class="text">
                         {{name}}
                      </div>
                   </ion-col>
                   <ion-col>
                      <ion-icon [ngStyle]="{'margin-top': 17 + 'px', 'margin-left': 20 + 'px', 'font-size': 2 + 'em'}" name="star">
                      </ion-icon>
                      {{rating}}|5
                   </ion-col>
                </ion-row>
             </ion-grid>
             <div class="logos">
                <ion-grid>
                   <ion-row>
                      <ion-col>
                         <ion-icon name="car">
                         </ion-icon>
                         {{carType}}
                      </ion-col>
                      <ion-col>
                         <ion-icon name="contacts">
                         </ion-icon>
                         {{seat}}
                      </ion-col>
                      <ion-col>
                         <ion-icon name="barcode">
                         </ion-icon>
                         {{plate}}
                      </ion-col>
                   </ion-row>
                </ion-grid>
             </div>
          </div>
       </div>
    </div>
 </ion-content>